/* // MOBILE View */
@media only screen and (max-width: 767px){
  main {
    display: grid;
  }

  .b {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .c {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .d {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .e {
    grid-row-start: 5;
  }

  .f {
    grid-row-start: 5;
  }

  .g {
    grid-row-start: 6;
  }

  .h {
    grid-row-start: 6;
  }

  .i {
    grid-row-start: 7;
    grid-column: 1 / span 2;
  }
}

/* // TABLET View */
@media only screen and (min-width: 768px) and (max-width: 980px){
  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  }

  .b {
    grid-column-start: 1;
    grid-row: 1 / span 4;
  }

  .c {
    grid-column: 2 /span 2;
    grid-row-start: 1;
  }

  .d {
    grid-column: 2 /span 2;
    grid-row-start: 2;
  }

  .e {
    grid-column-start: 2;
    grid-row-start: 3;
  }

  .f {
    grid-column-start: 3;
    grid-row-start: 3;
  }

  .g {
    grid-column-start: 2;
    grid-row-start: 4;
  }

  .h {
    grid-column-start: 3;
    grid-row-start: 4;
  }

  .i {
    grid-column: 1 /span 3;
    grid-row: 5;
  }
}

/* // DESKTOP View */
@media only screen and (min-width: 981px) {
  main {
    display: grid;
    grid-template-columns: 200px 190px 190px 190px 190px;
    grid-template-rows: 200px 250px 150px;
  }
  
  .b {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 4;
  }
  
  .c {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .d {
    grid-column-start: 4;
    grid-column-end: 6;
  }

  .e {
    grid-column-start: 2;
    grid-row-start: 2;
  }

  .i {
    grid-column: 2 / span 4;
    grid-row: 3 / span 3;
  }
}